/* @import "tailwindcss"; */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            background: #F6F2E0;
            color: #544D4D;
        }

        nav {
            padding: 0.8em 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                list-style: none;
            }
        }

        hr {
            background-color: rgb(149, 121, 121);
            height: 1px;
            border: 0;
        }


        .content-bar {
            display: none;
            top: 0;
            right: 0;
            position: fixed;
            background-color: black;
            color: white;
            padding: 0.5em;

            li {
                background-color: black;
                border-bottom: 1.5px solid #fff;
            }
        }

        .bar {
            width: 30px;
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .bar li {
            height: 4px;
            background: #000;
            border-radius: 2px;
        }

        .logo {
            display: flex;
            gap: 0.5em;
        }

        .logo img {
            height: 35px;
            width: 35px;
        }

        .logo h1 {
            color: #544D4D;
        }

        .section-1 {
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgb(255, 255, 255, 0)), url('https://images.unsplash.com/photo-1770063817031-f3b98dff347f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            padding: 1em;
            margin: 1em;
            border-radius: 10px;
        }

        .section-1-text {
            background: none;
            padding: 0.2em;
            width: 70%;
        }

        .section-1-header {
            margin-top: 1.5em;
            background: none;
            margin-bottom: 0.5em;
        }

        .section-1-header h2 {
            background: none;
        }

        .section-1-header h4 {
            background: none;
        }

        .section-1-subtext {
            background: none;
            margin-bottom: 0.5em;
        }

        .section-1-buttom {
            background: #544D4D;
            color: white;
            padding: 0.5em 1.5em;
            border: 2px solid white;
            border-radius: 10em;
        }

        .section-2 {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: bold;
            padding: 1em;
        }

        .section-2 li:nth-child(3) {
            display: none;
        }

        .section-3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "left right"
                "left right";

            padding: 0.7em;
            gap: 0.5em;
        }

        .section-3 div {
            background-image: url('https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=958&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            height: 18vh;
            border-radius: 15px;
            background-size: cover;
        }

        .section-3-img1 {
            grid-area: left;
        }

        .section-3-img2 {
            grid-area: right;
        }

        footer {
            padding: 0.5em;
        }

        footer h3 {
            margin-top: 10px;
            margin-left: -5px;
        }

        @media (min-width: 600px) {
            .bar {
                display: none;
            }

            .content-bar {
                display: flex;
                position: static;
                background: none;
                gap: 2em;

                li {
                    font-size: 1.5em;
                    font-weight: bolder;
                    background: none;
                    border: none;
                }
            }

            .section-1 {
                padding: 5em;
            }

            .section-1-text {
                width: 40%;
            }

            .section-1-header {
                text-shadow: 2px 2px 4px #E2B12F;
            }

            .section-1-header h4 {
                font-size: 25px;
            }

            .section-1-header h2 {
                font-size: 50px;
            }

            .section-1-buttom {
                margin-top: 20px;
                font-size: 1.5em;
            }

            .section-2 li:nth-child(3) {
                display: block;
            }
            .section-3 {
                display: flex;
            }
            .section-3 div{
                width: 25%;
                height: 300px;
            }
            footer {
                text-align: center;
            }
        }